@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.container__news {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 5;
}

.news__section {
    position: absolute;
    top: 110%;
    left: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
}

.news-list {
    position: absolute;
    top: 20%;
    right: -40%;
    float: right;
}

.logo {
    width: 300px;
    height: 150px;
    border-radius: 10px;
}

.card {
    position: relative;
    left: 25%; 
}
.card__content {
    flex-direction: column;
    margin-top: 2px;
}

.card__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1.5em
}

.card__info {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 400;
}

.card__btn {
    cursor: pointer;
    background-color: orangered;
    border-radius: 30px;
    color: #fff;
    width: 100px;
    height: 30px;
    border: none;
    opacity: 100px;
    box-shadow: 0 15px 25px rgba(0, 0, 0,0.1);
    margin-top: 5px;
}

