.news-card {
    position: relative;
    top: 25px;
    right: -70vh;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    left: 50%;
  }
  
.news-card__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.news-card__title {
    font-size: 18px;
    margin-top: 10px;
}

.news-card__date {
    color: #666;
    font-size: 14px;
}

.news-card__text {
    margin-top: 10
}